# Created by .ignore support plugin (hsz.mobi)
/.idea/
/.idea/workspace.xml
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
